<div class="header">
		<form name="logoutForm" th:hidden="true" method="post" th:action="@{/user/logout}">
    		<input type="submit" value="Logout" />
		</form>
		<a href="javascript: logoutForm.submit();"><img th:src="@{/img/icon/logout.png}" alt="logout"></a>
</div>
    <div class="mainContainer">
        <div class="Sidecontainer">
            <div class="titre">
                <h1>Options</h1>
            </div>
            <div class="sections">
                <button class="buttonMenu" onclick="StyleChanger1()"><a th:href="@{/user/NvFacture}" id ="aSelected1">Nouvelle facture</a></button>
                <button class="buttonMenu" onclick="StyleChanger2()"><a onclick="openPage('/user/transaction')" id ="aSelected2">Transactions</a></button>
                <button class="buttonMenu" onclick="StyleChanger3()"><a th:href="@{/user/product}" id ="aSelected3">Produits</a></button>
            </div>
            
        </div>
        
        <div class="containerM">