<th:block th:each="product : ${produits}">
	<div  class='gridViewItem'>
		<span  role='link' tabindex='0'>
		<img th:src="@{${product.getImg_url()}}" />
		<div class="gridViewInfo">
			<div class = 'nameInfo'>  
				<div th:text="${product.getNom()}">
			</div> 
			<div class = 'descrInfo'> 
				<marquee direction='left' th:text="${product.getDescription()}">  </marquee>
			</div>
			<div class = 'DeleteProd'>
					<div th:text="${product.getPrix_unit_kg()+' dhs/KG'}" th:remove="tag"></div> | <img th:src="@{/img/icon/trash-bin.png}" alt='delete' th:attr="onclick=|deleteProduct0(${product.getId()})|" > | <img th:src="@{/img/icon/editer.png}" alt='update' th:attr="onclick=|updateProduct0(${product.getId()})|" >
			</div>
			</div>
		</div>
		</span>
	</div>
</th:block>